@import url('https://fonts.googleapis.com/css?family=Sarabun:400,500');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}

p {
    line-height: 1.5;
    color: #7b7b7b;
}

/* Navbar settings */

.nav-links {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
}

.nav-link {
    text-decoration: none;
    color: #7b7b7b;
    padding-left: 15px;
}

.header {
    background: lightblue;
    height: 200px;
    display: flex;
    align-items: flex-end;
    animation: changeColor 10s infinite;
}

@keyframes changeColor {
    0% {
        background: #FF495C;
    }

    25% {
        background: #256EFF;
    }
    50% {
        background: #3DDC97;
    }
    75% {
        background: #7eb5ff;
    }

    100% {
        background: #FF495C;
    }
}

.header-msg {
    padding: 15px;
    color: #fff;
}

/* Picture and bio */

.pic {
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

.pic-bio {
    margin: 15px;
    height: 200px;
}

.biography {
    margin-top: 10px;
    color: #7b7b7b;
}

.projects {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    margin-bottom: 15px;
    border: 2px solid;
    width: 300px;
    padding: 15px;
}

.card-1 {
    border: 2px solid #7eb5ff;
}

.card-2 {
    border: 2px solid palegreen;
}
/* Project section */

.project-title {
    margin-bottom: 15px;
    color: #333;
    font-size: 1.5em;
}

.link {
    text-decoration: none;
    margin-top: 10px;
    font-size: 1.3em;
    color:  #333;
}

.project-about {
    font-size: 16px;
}

@media screen and (min-width: 760px) {

    img {
        width: 320px;
        height: 350px;
    }

    .bio-p {
        height: 300px;
        color:  #7b7b7b;
        grid-column: 1/2;
    }   

    .pic-bio {
        display: grid;
        grid-template-columns: 1fr 300px 1fr 300px;
    }

    .biography {
        display: flex;
        grid-column: 1/2;
    }

    .projects {
        flex-direction: row;
        justify-content: space-between;
    }
  }