@import url('https://fonts.googleapis.com/css?family=Karla');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

p {
    line-height: 1.5;
    font-size: 1.2em;
}

/********************* HEADER **********************************/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 30px;
    background-color: #334E58;     /* Change header color */
}

#header_title {
    padding-bottom: 15px;
    font-size: 2.5em;
    color: #fff;
    font-weight: bold;
}

#header_p {
    color: #fff;
    font-size: 1.3em;
    margin-left: 20px;
    font-weight: 300;
}

/*********************** CARD CONTAINER *****************************/

.card_container {
    display: flex;
    flex-direction: row;
    height: 330px;
    background-color: #F6F6F8;
    justify-content: space-around;
}

/*** Card Composition *****/

.three {
    width: 300px;
    height: 270px;
    margin: 4em;
    margin-top: -75px;
    background-color: #fff;
    box-shadow: 0 10px 6px -6px #777;
}

.card_title {
    justify-content: center;
    text-align: center;
    width: 100%;
    color:#fff;
    padding: 32px;
}

.card_link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    box-shadow: 3px 7px 6px -6px #777;
}

/* Change Card Colors Here */

 #first_color {
    background-color: black;
}

#one:hover {
    background-color: #734872;
}

#second_color {
    background-color: #5C6D70;

}

#third_color {
    background-color: #242038;
}

/* Change Card Color Buttons Here */
#one:hover {
    background-color: #231f1f;
}

#one {
    background-color: black;
}

#two {
    background-color:  #747c7d;
}

#two:hover {
    background-color: #4a5a5d;
}

#tres {
    background-color: #242038;
}

#tres:hover {
    background-color: #47435d;
}

/* Card paragraph and Links */

#card_p {
    padding-top: 20px;
    padding: 25px;
    font-size: 1.2em;
    width: 300px;
    color: #5D5D5D;
}

.card_link {
    display: flex;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    width: 50%;
    padding: 8px;
    margin-left: 25px;
    transition: .5s ease;
    cursor: pointer;
}

/************************** About yourself and interests section *******************/

.summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sub_container {
    padding: 40px;
    height: 320px;
}

/* Right side your about yourself section */
.right {
    grid-column: 1/2;
    background: #5B7DAC;
}

#summary_title {
    font-size: 1.4em;
    color: #fff;
    padding-bottom: 10px;
    display: flex;
}

#summary_p {
    width: 400px;
    color: #fff;
}

/* Left side your interest section */
.left {
    grid-column: 2/3;
    background-color: #231f1f;
    color: #fff;
}

#visit_title {
    font-size: 1.4em;
    color: lightblue;
}

#place {
    padding-bottom: 5px;
}

/***** Footer Content ******************/

footer {
    display: flex;
    justify-content: space-around;
    line-height: 2.3;
    height: 200px;
    color: #5D5D5D;
}

#title_list {
    font-size: 1.3em;
    font-weight: bold;
}

.footer_list {
    list-style-type: none;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

#copyright {
    font-weight: bold;
}

#copyright:hover {
    text-decoration: none;
}

/******** Media Queries for smaller screens ***********************************/
@media screen and (max-width: 800px) {
    #header_title {
        font-size: 2.3em;
    }

    #header_p {
        font-size: 1.5em;
    }

    /* Card settings for smaller screens */
    .card_container {
        display: grid;
        grid-template-columns: 1fr;
        height: 1100px;
    }

    .three {
        margin-top: 30px;
    }

    .card_title{
        padding: 10px;
    }

    .summary {
        display: flex;
        flex-direction: column;
   
    }

    #summary_p {
        width: 300px;
    }
     
    footer {
        display: grid;
        grid-template-columns: 1fr;
      padding: 40px;
      font-size: .9em;
      height: 500px;
    }

    .footer_list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    li {
        flex-wrap: wrap;
    }
}