@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; 
}

@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

/* General settings */
a {
    text-decoration: none;
}

p {
    line-height: 1.6;
}

/* Navigation bar */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
}

button {
    border: 1px solid black;
    color: #333;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
}

.about-2-title {
    height: 60px;
}

.nav-link {
    color: #A0A09F;
    margin-left: 25px;
    padding: 10px;
    font-size: 16px;
    transition: .6s ease-in-out;
}

.nav-link:hover {
     color: #32E3C2
}

/* Header */
header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    height: 500px;
}

h2 {
    font-size: 50px;
    font-family: 'Cedarville Cursive', cursive;
    color: #32E3C2;
}

.about {
    font-size: 24px;
    font-weight: bold;
    width: 650px; 
}

.work-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

/* Projects showcase */
.projects {
    padding: 50px;
}

.whole-project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 0px;
}

.skills-used {
    color: #3e3e3e;
    font-size: 17px;
    margin-bottom: 10px;
}

.project-des {
    font-size: 17px;
    margin-bottom: 30px;
}

img {
    width: 400px;
    height: 300px;
    object-fit: contain;
}

h3 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

.project-link {
    border: 1px solid black;
    padding: 10px;
    font-weight: bold;
    color: #32E3C2;
    transition: .3s ease-in-out;
}

.project-link:hover {
    background: #333;
    color: #fff;
}

footer {
    padding: 50px;
}

.footer-lable {
    color: #A0A09F;
}

@media screen and (max-width: 800px) {
    .whole-project {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .projects {
        padding: 20px;
    }

    img {
        width: 330px;
        height: 300px;
        object-fit: contain;
    }

    .about {
        width: 320px;
    }

    footer {
        padding: 20px;
    }
    h3 {
        margin-top: -40px;
    }
}